.row.aedifico {
  background: yellow;
  display: block;
  position: relative;
}

.row.aedifico > div[class^='col'] {
  position: absolute;
  /* border: solid 1px #6c757d; */
  padding: 10px;
  background-color: rgba(0,0,0,.3);
}
